/* Main structure styles */
body{
	margin: 0px;
    overflow: hidden;
}

#top-toolbar{
	position: fixed;
	width: 100%;
	height: 10%;
}

#top-timeline{
	position: fixed;
	width: 90%; 
	left: 10%;
	height: 5%;
	top: 10%;
}

#top-timeline-canvas{
	height: 100%;
	width: 100%;
}

#timeline{
	position: fixed; 
	left: 10%;
	top: 15%;
	width: 90%;
	height: 85%;
}

#timeline-canvas{
	width: 101%;
	height: 101%;
}

#left-column{
	position: fixed;
	width: 10%;
	top: 15%;
	height: 85%;
}

#left-column-canvas{
	height: 100%;
	width: 100%;
}

#zoom-column{
	position: fixed;
	top: 10%;
	width: 10%;
	height: 5%;
	background-color: #343434;
}

#range-slider{
	width: 90%;
}

.modal-content{
	background-color: #343434;
    height: 95%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    position: relative;
}

.drag-div{
    width: 100%;
    height: 5%;
    color: blue;
    display:inline-block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
}

.hidden{
	display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: grey;
    box-shadow: 2px 2px black;
}

.title-div {
	margin-top: 0px;
	color: white;
	font-size: 17px;

}

.input-container{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-evenly;
}

.knob-wrapper{
    width: 100%;
    height: 90%;
    display: flex;
/*    justify-content: space-evenly;*/
    flex-direction: column;
}

.knobs-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.knob-container{
    width: 40%;
    height: 90%;
    display:inline-block;
    vertical-align: middle;
    position: relative;
}

.knob-container-hidden{
    width: 40%;
    height: 90%;
    display:inline-block;
    vertical-align: middle;
    position: relative;
    display: none;
}

#add-song{
    position: absolute; 
    bottom: 0; 
    left: 50%;
    text-align: center;
}

#audio-modal{
    position: absolute; 
    height: 40%;
    bottom: 0;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.audio-element{
/*    width: 100px;
    height: 40px;*/
/*    padding: 5px;*/
    background-color: #4286f4;
}

.fade-enter-active, .fade-leave-active {
  transition: all;
}
.fade-enter{
    transform: translateY(40%) 2s;
}

.fade-leave-to  .fade-leave-active below version 2.1.8  {
    transform: translateY(40%) 2s;
    opacity: 0;
}