./testing/audio_out/*
*.pyc
studio-lib/node_modules
studio-lib/node_modules/*
./testing/timeline-testing/metamix-studio/node_modules/*
./testing/timeline-testing/metamix-studio/node_modules
./webapp/venv/*
./webapp/venv
./vs-code
