/* Modal styles */
#modalClose{
    margin-left: auto;
}

h4{
    padding: 0px;
    margin: 2px;
}

.input-container{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-evenly;
}

.knob-wrapper{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.drag-div{
    width: 100%;
    height: 2%;
    color: blue;
    display:inline-block;
}

.knobs-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.knob-container{
    width: 40%;
    height: 90%;
    display:inline-block;
    vertical-align: middle;
    position: relative;
}

.knob-container-hidden{
    width: 40%;
    height: 90%;
    display:inline-block;
    vertical-align: middle;
    position: relative;
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 30%;
    width: 30%; 
    height: 60%; 
    overflow: hidden;
    background-color: grey;
    box-shadow: 2px 2px black;
}

/* Modal Content/Box */
.modal-content {
    background-color: #343434;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Toolbar styles */

#top-toolbar{
	position: fixed;
	width: 100%;
	height: 15%;
	color: black;
}

#timeline{

}

#left-column{
	position: fixed;
	width: 20%;
	height: 100%;
	color: yellow;
}

#bottom-toolbar{

}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-item {
    font-weight: bold;
    text-align: center;
	cursor: pointer;
}

body {
	margin: 0;
    font-family: 'Allerta';
}